pipeline/pipelinMxSalary.json
{
	"name": "pipelinMxSalary",
	"properties": {
		"activities": [
			{
				"name": "Data flowmx",
				"type": "ExecuteDataFlow",
				"dependsOn": [],
				"policy": {
					"timeout": "0.12:00:00",
					"retry": 0,
					"retryIntervalInSeconds": 30,
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"dataflow": {
						"referenceName": "dataflowMxSalary",
						"type": "DataFlowReference"
					},
					"compute": {
						"coreCount": 8,
						"computeType": "General"
					},
					"traceLevel": "None",
					"cacheSinks": {
						"firstRowOnly": true
					}
				}
			},
			{
				"name": "Set variable1",
				"type": "SetVariable",
				"dependsOn": [
					{
						"activity": "Data flowmx",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"userProperties": [],
				"typeProperties": {
					"variableName": "MxSalary",
					"value": {
						"value": "@string(activity('Data flowmx').output.runStatus.output.MaxVal.value[0].Maxsalary)",
						"type": "Expression"
					}
				}
			}
		],
		"variables": {
			"MxSalary": {
				"type": "String"
			}
		},
		"annotations": []
	}
}